<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h4>Connectez vous !</h4>
    <form action="#" method="post">
        <p>Login (email) : <input type="text"/></p>
        <p>Mot de passe : <input type="password"/></p>
    </form>
    <br/>
    <h4>Enregistrez vous !</h4>
    <form action="#" method="post" th:action="@{/auth/signup}" th:object="${authenticationRequest}">
        <p>Login (email) : <input type="email" th:field="*{username}"/></p>
        <p>Nouveau mot de passe : <input type="password" th:field="*{password}"/></p>
        <p>Confirmation du mot de passe : <input type="password"/></p>
        <input type="submit" value="Enregistrer"/>
    </form>

    <a href="index.html" >Retour</a>
    <script src="../static/js/libs/jwt-decode.min.js"></script>
    <script src="../static/js/client.js"></script>
</body>
</html>